* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #006300;
  --secondary: #f7c600;
  --highlight: #f4f4f4;
  --border: 4px solid var(--secondary);
}

main,
footer {
  min-width: 100%;
  display: grid;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100%;
  border-left: var(--border);
}

aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body {
  /* font: 20px/1.2 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: "Roboto Slab", serif; */
}
/* **grid** */
/* **grid** */
/* **grid** */

main {
  grid-template-columns: repeat (6, 1fr);
  width: 100%;
  /* gap: 2rem; */
  grid-template-areas:
    "hero hero hero hero hero aside"
    "hero hero hero hero hero aside"
    "hero hero hero hero hero aside"
    "vault vault vault vault vault vault";
}

.hero {
  grid-area: hero;
}

aside {
  grid-area: aside;
}

.vault {
  grid-area: vault;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  background-color: var(--primary);
  color: var(--highlight);
}

.nav a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
}

p {
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* img*** */
/* img*** */
/* img*** */

img {
  max-width: 200px;
  height: auto;
}

/* **end global styles** */
/* **end global styles** */
/* **end global styles** */

.logo {
  height: 175px;

  padding-bottom: 10px;
  /* transform: translateY(-20px); */
}

/* header ***/
/* header ***/
/* header ***/

header {
  max-height: 200px;
  background-color: var(--primary);
  border-bottom: var(--border);
}

header,
nav,
.nav-ul {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nav-li {
  list-style: none;
  padding-left: 12px;
  transform: translateY(-10px);
}

.nav-li a {
  /* justify-content: space-evenly; */
  padding: 6px;
}

/* **Hero** */
/* **Hero** */
/* **Hero** */

section.hero {
  /* background: rgb(139, 135, 19, 1); */
  background-image: url("../img/oldBank1.jpg");

  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero h1 {
  color: var(--secondary);
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
  position: absolute;
  top: 25%;
  right: 15%;
  left: 10%;
}

.hero-p {
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  position: absolute;
  top: 25%;
  right: 20%;
}

/* ***index-p*** */
/* ***index-p*** */
/* ***index-p*** */

p.index-p {
  margin: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

/* **social** */
/* **social** */
/* **social** */

section.social {
  background-color: var(--primary);
}

ul.social-ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

li.social-li img {
  max-width: 75px;
  height: auto;
  padding-bottom: 1rem;
}

/* li.social-li img:hover {
  width: 120px;
  height: auto;
} */

h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--secondary);
  padding: 0.7rem;
}

section.vault {
  background-color: var(--secondary);
  overflow-x: hidden;
}

.vault h2 {
  color: var(--primary);
  padding-top: 1.5rem;
}

.vault p {
  font-size: 1rem;
  color: #010101;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.menu {
  text-align: center;
}

.menu-pics {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* grid-template-columns: repeat (2, 1fr);
  gap: 10rem; */
  /* min-width: 100%; */
}

.menu-pics img {
  width: 50%;
  height: auto;
}

.slider {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.7rem;
  max-width: 100%;
}

/* **footer** */

footer {
  text-align: center;
  font-size: 2.5rem;
  color: var(--highlight);
  background-color: var(--primary);
  padding: 1rem;
}
.contact {
  /* display: flex; */
  grid-template-columns: repeat (2, fr);
  width: 100%;
  /* align-items: center; */
  min-width: minmax(200px, 1fr);
}

.contact p {
  font-size: 1.5rem;
}

footer h4 {
  font-size: 0.7rem;
}

/* ***media queries*** */
/* ***media queries*** */
/* ***media queries*** */

@media (max-width: 739px) {
  .disappear {
    display: none;
  }
  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 549px) {
  .container {
    display: block;
  }
  main {
    display: block;
  }
  header {
    display: block;
  }
  .logo {
    text-align: center;
    padding-top: 1rem;
    /* margin-bottom: 10rem; */
  }
  .hero {
    min-width: 100%;
  }

  aside {
    min-width: 100%;
    min-height: 100%;
  }
  aside ul {
    flex-direction: row;
  }
  section.hero {
    position: absolute;
    max-height: 200px;
    /* margin-bottom: 1000px; */
  }
  header,
  nav,
  .nav-ul {
    /* display: none; */
    padding-top: 1rem;
    padding-bottom: 14rem;
    /* border-bottom: none; */
  }
  .social {
    padding-top: 200px;
    display: block;
    min-width: 100%;
    border-left: none;
  }
  .nav-li {
    padding-left: 0;
  }

  p.index-p {
    margin: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 351px) {
  .nav {
    margin-bottom: 1000px;
  }
  .nav-ul {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 1000px;
  }
  .nav-li {
    padding-bottom: 15px;
  }
  header {
    padding-bottom: 365px;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
}
